<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset='utf-8'>
  <title>Deven Rathod -Free Movie Server</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
 <script src="{{url_for('static', filename='js/script.js')}}"></script>

    
</head>

<div class="c2">
         <marquee><p>Made With 💙
 by Deven </p></marquee>
</div>
<body>
<header>
  <div class="nav">
  <hr/>
<nav>

  <ul>
  <li><a href="">Home</a></li>
  <li><a href="https://api.whatsapp.com/send?phone=+911234567890&text=please%20add%20the%20movie">Request movie</a></li>
  <li><a href="https://api.whatsapp.com/send?phone=+911234567890&text=want%20to%20contact%20you">Contact</a></li>
  <li><a href="about">About</a></li>
  <li><a href="upload">Upload Movies</a></li>

   </ul>

</nav>
<hr/>
</div>
  <h1 class="headh1">Welcome To Free Movie Server</h1>
     <h2 class="headh1">click on Show Button to see all movies</h2>
     
  <button class="nbtn" onclick="filterSelection('all')">Show</button>
  
  </header>

<!-- movie upload code  -->
<div class="cards">
<a href="movies/Evil Dead"><div class="row">
  <div class="column nature">
    <div class="content">
      <img src="{{url_for('static', filename='img/1.jpg')}}" alt="Mountains" style="width:100%">
      <h4>Evil Dead 2013</h4>
      
    </div>
    </a>
  </div>
  <a href="movies/Annabelle Creation">
  <div class="column nature">
    <div class="content">
      <img src="{{url_for('static', filename='img/2.jpg')}}" alt="Lights" style="width:100%">
      <h4>Annabelle Creation (2017)</h4>
    </div>
  </div>
  <a href="movies/Insidious The Last Key">
  <div class="column nature">
    <div class="content">
      <img src="{{url_for('static', filename='img/3.jpg')}}" alt="Nature" style="width:100%">
      <h4>Insidious The Last Key (2018)</h4>
    </div>
  </div>
<a href="movies/The Conjuring 2">
  <div class="column cars">
    <div class="content">
      <img src="{{url_for('static', filename='img/4.jpg')}}" alt="Car" style="width:100%">
      <h4>The Conjuring 2 2016</h4>
    </div>
  </div>
  <a href="movies/Dawn of Justice">
  <div class="column cars">
    <div class="content">
      <img src="{{url_for('static', filename='img/5.jpg')}}" alt="Car" style="width:100%">
      <h4>Dawn of Justice</h4>
    </div>
  </div>
  <a href="movies/Suicide Squad">
  <div class="column cars">
    <div class="content">
      <img src="{{url_for('static', filename='img/6.jpg')}}" alt="Car" style="width:100%">
      <h4>Suicide Squad</h4>
    </div>
  </div>
 <a href="movies/John Wick Chapter 1">
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/7.jpg')}}" alt="People" style="width:100%" >
      <h4>John Wick Chapter 1</h4>
    </div>
    <a href="movies/John Wick Chapter 2">
  </div>
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/8.jpg')}}" alt="People" style="width:100%">
      <h4>John Wick Chapter 2</h4>
    </div>
  </div>
  <a href="movies/John Wick Chapter 3">
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/9.jpg')}}" alt="People" style="width:100%">
      <h4>John Wick Chapter 3</h4>
    </div>
  </div>
  <a href="movies/lost in space s2.rar" >
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/10.jpg')}}" alt="People" style="width:100%">
      <h4>Lost In Space S2</h4>
    </div>
  </div>
  <a href="movies/Pacific Rim">
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/11.jpg')}}" alt="People" style="width:100%">
      <h4>Pacific Rim 2013</h4>
    </div>
  </div>
  <a href="movies/Pacific Rim Uprising 2017" >
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/12.jpg')}}" alt="People" style="width:100%">
      <h4>Pacific Rim Uprising 2017</h4>
    </div>
  </div>

<!-- END GRID -->
</div>


  <!-- <footer>
    <div>
   Created by DevelopeSpot 
    </div>
  </footer> -->
</body>
</html>
